<?xml version="1.0"?>
<!-- 
/**
 * GeoStores system configuration
 *
 * @category   Aydus
 * @package	   Aydus_GeoStores
 * @author     Aydus Consulting <davidt@aydus.com>
 */
-->
<config>
    <sections>
        <aydus_geostores translate="label" module="aydus_geostores">
            <label>GeoStores</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <configuration translate="label" module="aydus_geostores">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
		            <show_in_default>1</show_in_default>
		            <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <geostores_enabled translate="label" module="aydus_geostores">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
				            <show_in_default>1</show_in_default>
				            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If Yes, redirection will be enabled for this scope.]]></comment>
                        </geostores_enabled> 
                        <debug translate="label" module="aydus_geostores">
                            <label>Debug</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
				            <show_in_default>1</show_in_default>
				            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug>                         
                        <geoip_db translate="label" module="aydus_geostores">
                            <label>GeoIP Database File</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
				            <show_in_default>1</show_in_default>
				            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Magento root path to GeoIP Database File (Downloaded file is in /var/aydus/geostores/GeoIPCity.dat; leave blank for default).]]></comment>
                        </geoip_db>                                                    
                        <geoip_download_url translate="label" module="aydus_geostores">
                            <label>GeoIP Database Download Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
				            <show_in_default>1</show_in_default>
				            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Url of GeoIP database to download.]]></comment>
                        </geoip_download_url>    
                        <geoip_update_now translate="label" module="aydus_geostores">
                            <label>Update Now</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>aydus_geostores/adminhtml_system_config_form_button</frontend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Update the GeoIP database now.]]></comment>
                        </geoip_update_now>                                             
                    </fields>
                </configuration>
            </groups>            
        </aydus_geostores>    
    </sections>
</config>

